<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- LogBack Conversion Word -->
    <!-- http://logback.qos.ch/manual/layouts.html#conversionWord -->

    <!-- Properties Configuration ............................................................. -->
    <springProperty name="APP_NAME" scope="context" source="spring.application.name"/>
    <springProperty name="APP_VERSION" scope="context" source="application.version"/>
    <springProperty name="APP_WORK_DIR" scope="context" source="application.work.directory"/>

    <if condition='isDefined("APP_WORK_DIR")'>
    <then>
        <springProfile name="local">
            <property name="APP_ENVIRONMENT"  value="DEVELOPMENT" />
        </springProfile>
        <springProfile name="prod">
            <property name="APP_ENVIRONMENT"  value="PRODUCTION" />
        </springProfile>

        <property name="APP_LOG_DIR"      value="${APP_WORK_DIR}/log/" />
        <property name="APP_LOG_FILENAME" value="${APP_NAME}.log" />

        <!-- Appenders ........................................................................... -->
        <!-- Configure the Console appender
             Sleuth Trace ID => %yellow(%X{traceId:-})
             Sleuth Span ID  => %yellow(%X{spanId:-})
             Logging Class   =>  %yellow(%logger{10}) -->
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%green(%d{ISO8601}) %cyan(${HOSTNAME}) %red(%-5level) %blue(${PID}) %magenta(%.15thread) - %msg%n%throwable</pattern>
            </encoder>
        </appender>

        <!-- Configure the Rolling File appender -->
        <appender name="LogRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${APP_LOG_DIR}/${APP_LOG_FILENAME}</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{ISO8601} ${HOSTNAME} %-5level ${PID} %.15thread - %msg%n%throwable</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>${APP_LOG_DIR}/${APP_LOG_FILENAME}_%i.zip</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>9</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>500MB</maxFileSize>
            </triggeringPolicy>
        </appender>

        <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level
             https://docs.sentry.io/platforms/java/guides/logback/

             Web Access: https://90216afa96af41bca60a29442b98ad9e@error.parlacom.net/2
             API Send Error: http://90216afa96af41bca60a29442b98ad9e@error.parlacom.net:9080/2
             *** Sentry API doesn't support Nginx Proxy -->

        <appender name="Sentry" class="io.sentry.logback.SentryAppender">
            <options>
                <dsn>http://894b9fdcd8384bcea70858e26846daf1@error.parlacom.net:9080/6</dsn>
                <environment>${APP_ENVIRONMENT}</environment>
                <release>${APP_VERSION}</release>
                <attachThreads>true</attachThreads>
                <attachStacktrace>true</attachStacktrace>
            </options>
            <!-- Optionally change minimum Event level. Default for Events is ERROR -->
            <minimumEventLevel>ERROR</minimumEventLevel>
        </appender>

        <!-- Configure the Grafana Loki appender logging
             https://loki4j.github.io/loki-logback-appender/

             Query Loki example using detected fields:
             {app="iot-sigfox-producer-prod"} | logfmt | seqNumber="1797" -->
        <appender name="Loki" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>https://logging.parlacom.net:8081/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=${APP_NAME},host=${HOSTNAME},level=%level</pattern>
                </label>
                <message>
                    <pattern>%green(%d{ISO8601}) %cyan(${HOSTNAME}) %red(%-5level) %blue(${PID}) %magenta(%.15thread) - %msg%n%throwable</pattern>
                </message>
                <sortByTime>true</sortByTime>
            </format>
            <metricsEnabled>true</metricsEnabled>
        </appender>

        <!-- Enable INFO appender -->
        <root level="INFO">
            <appender-ref ref="Console" />
            <springProfile name="prod">
                <appender-ref ref="LogRollingFile" />
                <appender-ref ref="Loki" />
                <appender-ref ref="Sentry" />
            </springProfile>
        </root>
    </then>
    </if>

</configuration>
